h1 {
  padding: 10px 10px;
}

#welcome-container {
  margin-top: 85px;
  margin-bottom: 85px;
}

#welcome-container {
  animation-duration: 2s;
  animation-name: enter;
}

@keyframes enter {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: 85px;
    margin-bottom: 85px;
  }
}

#social-list > .btn {
  margin: 10px 10px;
}

#about-img {
  max-width: 100%;
  max-height: 100%;
}

.col-lg-7 {
  margin-top: 125px;
  margin-bottom: 125px;
}

p {
  padding: 10px 10px;
}

#about-list * {
  width: 200px;
  margin: 5px 5px;
}

i {
  padding: 10px 10px;
}

#name,
#email {
  margin: 10px 10px;
  width: 350px;
}

#message {
  width: 720px;
  height: 250px;
}

::-webkit-input-placeholder {
  text-align: initial;
}

#send-button {
  margin: 40px 20px;
  width: 200px;
}
